/*ALL PAGE STYLE*/
body {
  background-image: linear-gradient(to bottom right, #98E690, #E6B9A1);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment:fixed ;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main {
  padding: 0rem; 
  width: 100%;
  margin-left: 5rem;
}

.navbar{
    width: 5rem;  
    height: 100vh;
    position: fixed;
    background-color: #44D362;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
    align-items: center;
    transition: width 200ms ease;
  }

.logo{
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  letter-spacing: 0.3ch;
  flex-direction: row-reverse;
  display: flex;
  height: 5rem;
  width: 100%;
}

.logo img{
  transform: rotate(0deg);
  transition: 600ms;
}

.navbar:hover .logo img{
  transform: rotate(-180deg);
}

.link-text{
    font-size: 1.25rem;
    margin-top: 1rem;
    display: none;
    margin-left: 1rem;
  }

.navbar:hover{
  width:16rem;
  margin-left: 0;
}

.navbar:hover .link-text{
  display: block;
}

.link-text:hover{
  color:#77DF79;
}
 #navbarLogIn{
    margin-top: -10%;
  }

.nav-link{
  width: 100%;
  height: 5rem;
  list-style: none;
  text-decoration: none;
  color: white;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;
  margin-left: 2rem;
}

.nav-link:last-child{
  margin-top: auto;
}

@media screen and (max-width:600px){
  main{ 
    margin: 0 0;
    margin-bottom: 5rem;
  }
  .logo{
    display: none;
  }
  .navbar:hover{
    width:100vw;
    margin-left: 0;
  }
  
  .navbar:hover .link-text{
    display: none;
  }
  .navbar{
    width: 100vw;
    height: 5rem;
    display: flex;
    flex-direction: row;
    bottom: 0;
    margin: 0 0;
    padding: 0 0;
  }
.nav-link{
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 1rem;
  }
  .nav-link:hover{
    background-color: #77DF79;
  }
  .nav-link:last-child{
    margin-top:2rem;
  }
.nav-icon{
  flex-direction: row;
  align-items: center;
  width: 2em;
}

.nav-span{
  flex-direction: row;
  align-items: center;
  margin-left: -2rem;  
  display: none;
  
  }
}


/*HOMEPAGE STYLE*/

.home{
  display: flex;
  flex-direction: column;
  text-align: center;  
}
#pageAnchor1{
  text-decoration: none;
  color:  #44D362;
  transition: 1s;
  text-shadow: 2px 2px 4px #000000;
}

#pageAnchor1:hover{
  font-size: 50px;
 }

#pageAnchor2{
  text-decoration: none;
  color:  #44D362;
  transition: 1.5s;
  text-shadow: 2px 2px 4px #000000;
}

#pageAnchor2:hover{
  font-size: 50px;
}

.home-item{
  width: 80vw;
  height: 40vh;
  margin: 2rem 0 2rem 2rem; 
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255,255,.5);
  border-radius: 50px;
  box-shadow: 10px 10px 5px grey;
}


.home-p{
  width: 60vw;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media screen and (max-width:600px){
  .home{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100vw;
   margin-left: 5%;
   margin-right: 5%;
  }
  #pageAnchor1{
    text-decoration: none;
    color:  #44D362;
    transition: 1s;
  }
  #pageAnchor1:hover{
    font-size: 50px;
   }
  #pageAnchor2{
    text-decoration: none;
    color:  #44D362;
    transition: 1.5s;
  }
  #pageAnchor2:hover{
    font-size: 50px;
  }
  .home-item{
    width: 80vw;
    height: 30vh;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
  }
  .home-p{
    width: 65vw;
    padding: 1rem .5rem;
    
  }
}



/*PANTRY STYLE PAGE*/

.pantry{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  width: 100vw;
  flex-wrap: wrap;
}
.pantryHeader{
  color:  #44D362;
  transition: 1.5s;
  text-shadow: 2px 2px 4px #ffffff;
  margin-top: 2rem;
  margin-bottom: -2rem;
}
.pantry-items{
  flex-wrap: wrap;
  display: flex;
  flex: 1;
  padding: 1rem 5rem;
  
}
.btn-group{
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin: 1rem 1rem;
}
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #DFA995;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin: 1rem 1rem;
  flex:1;
  height: 5rem;
  width: 10rem;
}

.button:hover {
  background-color: linear-gradient(to #3e8e41,#DFA995)}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

@media screen and (max-width:600px){
  .pantry{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    width: 100%;

  }

  .button{
    font-size: 14px;
    padding: 10px 10px;
    width: 130px;
    transition: ease-in-out;
    margin: 15px 12px;
    height: 5rem;
    width: 5rem;
  }  
  .pantryHeader {
    text-align: center;
    color:  #44D362;
    transition: 1.5s;
    text-shadow: 2px 2px 4px #ffffff;
    padding: 1rem 2rem;
  }
}

/* Log IN Page */


 /* Bordered form */
 form {
  border: 3px solid #f1f1f1;
  margin: 10% 20% 5% 10%;
  background-color: rgba(255, 255, 255, 0.7);
 }


/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 25px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  background-color:#77DF79  ;
}
/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #DFA995;
}
/* Add padding to containers */
.container {
  padding: 16px;
}
/* The "Forgot password" text */
span.psw {
  float: right;
  padding: 16px;
}
span.usr{
  float: right;
  padding: 16px;
}
#signupbtn{
  list-style: none; 
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
  padding: 14px 55px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  transition: .3s;
}
#signupbtn:hover{
  color: #4CAF50 ;
  font-size: 20px;

}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 600px) {
  span.psw {
    display: block;
    float: none;
    font-size: 12px;
    padding: 5px;
    }
    span.usr{
      display: block;
      font-size: 12px;
      float: none;
      padding: 5px;
    }
  .cancelbtn {
    width: 100%;
  }
  #signupbtn{
    display: block;
    text-align: center;
    padding: 3px 5px;
    margin: 4px 0;
  
  }

  form{
    margin: 10% 10%;

  }
} 
#loginBody{
  background-image: url(Veg-Background.jpg) ;
  background-size: cover;
  background-position: none;
  background-repeat: no-repeat;
}




/*RECIPE PAGE*/
.column{
  display: flex;
  flex-direction: column;
}

 .card{
   background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
   align-items: center;
   box-shadow: 10px 10px 5px grey;
  padding: 10px 10px 10px 10px ;
  margin: 25px 25px 25px 25px;
  width: 80vw;
 }
 

/*colors
DARK PINK: #DFA995
LIGHT PINK: #E6B9A1
GRAY?: #E6E6CA
LIGHT GREEN: #98E690
MEDIUM GREEN: #77DF79  
DARK GREEN: #44D362 
*/
